%html
  %head
    %title rps
  %body
    %h3= anwser
    %h2
      %a{:href => '?choice=rock'} Rock
      %br
      %a{:href => '?choice=paper'} Paper
      %br
      %a{:href => '?choice=scissors'} Scissors
    
