!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Bootstrap Example
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}
    %link{:href => "/css/bootstrap-responsive.css", :rel => "stylesheet"}/
  %body
    .container
      %h3= anwser
      %h2
        %a{:href => '?choice=rock'}
          %button.btn.btn-danger{type: "button"} Rock
        %br
        %a{:href => '?choice=paper'}
          %button.btn.btn-danger{type: "button"} Paper
        %br
        %a{:href => '?choice=scissors'}
          %button.btn.btn-danger{type: "button"} Scissors
      

    %script{:src => "/js/bootstrap.js"}
    %script{:src => "/js/bootstrap.js"}
    %script{:src => "/js/bootstrap.js"}
    %script{:src => "/js/bootstrap.js"}
    %script{:src => "/js/bootstrap.js"}
